*.deb filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.py text eol=lf
*.sh text eol=lf
*.so filter=lfs diff=lfs merge=lfs -text
.\installation\bin\* filter=lfs diff=lfs merge=lfs -test
.\installation\das\prism-4.3.1-linux64.tar.gz filter=lfs diff=lfs merge=lfs -text
